<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Jumba Mark</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}">
</head>

<body>

    {% include "base/navbar.html" %}


    {% if messages %}
    {% for message in messages %}

    <div style="padding:4em;" class="alert alert-success" role="alert">
        {{ message }}
    </div>

    {% endfor %}
    {% endif %}


    <!-- Adding in where the content that would inherit from this template go -->
    {% block content %}

    {% endblock content %}

    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>