{% extends "base/main.html" %}

{% load static %}

{% block content %}

<div style="padding:3.5em;" class="container">
    <h3>Skill Form</h3>

    <form method="POST" enctype="multipart/form-data"> {% csrf_token %}

        {% for field in skillForm %}
        <div class="mb-3">
            <label for="" class="form-label">{{ field.label }}</label>
            {{ field }}
        </div>
        {% endfor%}

        <input class="btn btn-primary" type="submit" value="submit">

    </form>
</div>

{% endblock content %}