<!-- form for uploading and creating a project -->
{% extends "base/main.html" %}

{% load static %}

{% block content %}


<div style="padding:3.5em;" class="container">
    <h3>Project Form</h3>
    <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <!-- enabling the rich text editor in our own custom form -->
        {{Form.media}}


        <!-- we need enctype bec we're submitting a file field-->
        {% for field in Form %}
        <div class="mb-3">
            <label for="" class="form-label">{{ field.label }}</label>
            {{ field }}
        </div>
        {% endfor%}

        <input class="btn btn-primary" type="submit" value="submit">

    </form>
</div>

{% endblock content %}